name: Build on Raspberry Pi

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: self-hosted
    name: Build on Pi
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build
      - name: Run tests
        run: npm test
